body {
    background-color: dimgray;
    background-image: url(./img/sys/Back.png);
}

button:hover {
    cursor: pointer;
}

#tidiv, #idiv {
    background-image: url(./img/sys/Timage.png);
    width: fit-content;
    padding: 15px;
    border-radius: 6px;
    margin-top: 10px;
}

#tidiv {
    border: 4px solid wheat;
}

#idiv {
    border: 4px solid lightcoral;
}

.toolicon, .itemicon {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-repeat: repeat;
    border: 10px solid transparent;
    border-image: url(./img/sys/BITransparent.png) 9 round;
}

.toolicon {
    background-color: #91b6c7;
}

.itemicon {
    color: white;
    font-weight: bold;
    background-color: #74a765;
    background-size: cover;
}